.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
docs/index.html

### Production application.yml ###
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/secrets/monitoring.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.env

# Ignore Gradle build output directory
build
src/main/generated
/src/test/resources/application-dev.yml
/src/main/resources/fcm/service_account_credentials.json
/src/main/resources/META-INF/additional-spring-configuration-metadata.json
/docs/index.html
/logs/
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QAlcohol.java
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QAlcoholsTastingTags.java
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QDistillery.java
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QPopularAlcohol.java
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QRegion.java
/git.environment-variables/generated/app/bottlenote/alcohols/domain/QTastingTag.java
/git.environment-variables/generated/app/bottlenote/common/domain/QBaseEntity.java
/git.environment-variables/generated/app/bottlenote/common/domain/QBaseTimeEntity.java
/git.environment-variables/generated/app/bottlenote/common/image/QImageInfo.java
/git.environment-variables/generated/app/bottlenote/history/domain/QAlcoholsViewHistory.java
/git.environment-variables/generated/app/bottlenote/history/domain/QAlcoholsViewHistory_AlcoholsViewHistoryId.java
/git.environment-variables/generated/app/bottlenote/history/domain/QUserHistory.java
/git.environment-variables/generated/app/bottlenote/like/domain/QLikes.java
/git.environment-variables/generated/app/bottlenote/like/domain/QLikeUserInfo.java
/git.environment-variables/generated/app/bottlenote/picks/domain/QPicks.java
/git.environment-variables/generated/app/bottlenote/rating/domain/QRating.java
/git.environment-variables/generated/app/bottlenote/rating/domain/QRating_RatingId.java
/git.environment-variables/generated/app/bottlenote/rating/domain/QRatingPoint.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReview.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewImage.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewImages.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewLocation.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewReply.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewTastingTag.java
/git.environment-variables/generated/app/bottlenote/review/domain/QReviewTastingTags.java
/git.environment-variables/generated/app/bottlenote/support/help/domain/QHelp.java
/git.environment-variables/generated/app/bottlenote/support/help/domain/QHelpImage.java
/git.environment-variables/generated/app/bottlenote/support/help/domain/QHelpImageList.java
/git.environment-variables/generated/app/bottlenote/support/report/domain/QReviewReport.java
/git.environment-variables/generated/app/bottlenote/support/report/domain/QUserReports.java
/git.environment-variables/generated/app/bottlenote/user/domain/QFollow.java
/git.environment-variables/generated/app/bottlenote/user/domain/QUser.java
/git.environment-variables/generated/app/external/notification/domain/QNotification.java
/git.environment-variables/generated/app/external/notification/domain/QUserDeviceToken.java
/git.environment-variables/generated/app/external/notification/domain/QUserPushConfig.java
/.secrets

CLAUDE.personal.md
