<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- JSON 로그 인코딩용 의존성 필요 -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<property name="LOG_PATH" value="/var/log/bottle-note"/>

	<appender name="JSON-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/application-dev.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/application-dev.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<fieldName>timestamp</fieldName>
					<pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
				</timestamp>
				<loggerName/>
				<threadName/>
				<logLevel/>
				<message/>
				<context/>
				<stackTrace/>
			</providers>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="JSON-FILE"/>
	</root>

</configuration>
