<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <appender name="OpenTelemetry"
            class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="OpenTelemetry"/>
  </root>

  <!-- 특정 라이브러리 로그 레벨 조정 -->
  <logger name="org.springframework.web" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>

  <!-- OpenTelemetry DEBUG 로깅 -->
  <logger name="io.opentelemetry" level="INFO"/>
  <logger name="io.opentelemetry.exporter" level="INFO"/>
  <logger name="io.opentelemetry.exporter.otlp" level="INFO"/>
  <logger name="io.opentelemetry.instrumentation.logback" level="INFO"/>
  <logger name="io.opentelemetry.sdk" level="INFO"/>

</configuration>
