==== Response Fields
|===
|path|type|required|description

{{#fields}}

    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{#required}}O{{/required}}{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===
