==== 응답 파라미터 ( response fields )
|===
|path|type|description

{{#fields}}

    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===
